@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

li {
    height: 50px;
}

/*input {
    margin-top: 10px !important;
}*/

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

th, td {
    padding: 0 10px;
}

.calendarContainer {
    height: 750px;
    margin: 10px;
}

.wide {
    width: 500px;
}

.marginLeft {
    margin-left: 10px !important;
}

.marginTop {
    margin-top: 10px !important;
}

.marginRight {
    margin-right: 10px !important;
}

.marginBottom {
    margin-bottom: 10px !important;
}

.rearrangeIcon {
    /*position: relative;
    top: 6px;*/
    cursor: pointer;
}

.navBar {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #4d62aa;
}

.signOutButton {
    float: right;
    margin-right: 20px;
}

.navBarLink {
    cursor: pointer;
    font-family: Poppins, Roboto, sans-serif;
    text-transform: uppercase;
}

.App {
    text-align: center;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.App-header {
    background-color: #3174ad;
    height: 80px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 2em;
    font-family: Oswald, Roboto, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.App-intro {
    font-size: large;
}

.linkItemText {
    display: inline-block;
    cursor: pointer;
}
.inLineDiv {
    display: inline-block;
}
.numberInput{
    width:50px;
}
.submitButton {
    margin-top: 5px;
}

